@use "../global" as *;

.l-header {
  width: 100%;
  max-width: 100%;
  border-top: rem(15) solid $color-primary;
  position: relative;
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &-nav {
    &__lists {
      gap: 0 rem(30);
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-decoration: none;

      li {
        a {
          text-decoration: none;
          font-size: rem(15);
        }
      }
    }
    &__dropdown-menu {
      display: none;
      position: absolute;
      min-width: rem(200);
      filter: drop-shadow(0 rem(3) rem(6) rgba(0, 0, 0, 0.16));
      padding: rem(17) rem(0);
      z-index: 1;
      list-style: none;
      li{
        background-color: $white;
        padding: rem(15) rem(20);
        a{
          font-size: rem(14);
          display: block;
        }
      }
    }
  }

  .l-header-nav__list:hover .l-header-nav__dropdown-menu {
    display: block;
  }
}